%main.inner.cover{:role => "main"}
  %h1.cover-heading Short your URL
  %p.lead and send it!
  %p
    = render 'shared/url_form', url: @url
  %div#short_url_box.d-none
    %p#short_url
    %button{ onclick:"copyLink()", class: 'btn btn-success' }
      Copy link 
